<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote for Knope</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Vote for Knope</h1>
        <h4> <br>Leslie Knope for City Council</h4>


    </header>

    <main>

        {{{body}}}

    </main>


    <footer>
        <h5>“I regret nothing. The end.” <i>(Ron Swanson)</i></h5> 
    </footer>
    


<script src="/browser.js"></script>
</body>


</html>