<h2>Thank you so much for your signature.</h2>

<p>Please make sure to tell everybody you know about this. If you don't know anybody, consider this the perfect opportunity to make new friends. 
    Or sign multiple times. With different names. We never said this. <br><br><a href="/signers"> Click here to see who else signed this.</a></p>

<img src="{{signature.signature_code}}"> 

<a href="/user_profile/edit"><button class="button button2">Edit profile</button></a>

<p> "There are no consequences to my actions anymore. I'm like a white, male U.S. Senator." <br><i>(Leslie Knope)</i></p>